
{% with request_id=request.id|stringformat:"s" %}
    {% with "set-priority-modal-"|add:request_id|add:"-request" as id_modal %}
        <a
            href='#'
            data-toggle="modal"
            data-target="#{{ id_modal }}"
        >
            <span class="badge badge-{{ request.priority }}">
                {{ request.priority }}
                <i class="fas fa-edit"></i>
            </span>
        </a>

        <div class="text-left white-space-normal">
            {% comment %} Set request priority modal {% endcomment %}
            {% url "request-set-priority" pk=request_id as url_link %}
            {% include "app/includes/modals/set-request-priority-modal.html" with current_priority=request.priority id=id_modal url=url_link redirect_url=request_full_path %}
        </div>
    {% endwith %}
{% endwith %}
