{% extends 'layout.html' %}

{% load i18n %}

{% block content %}
    <div class="container">

        <form method="post">
            {% csrf_token %}

            <input type=submit class="d-none">

            <div class="row page-title-margin">
                <div class="col">
                    <div class="page-title">
                        {% trans 'Change password' %}
                    </div>
                </div>
                <div class="col text-right">
                    <a class="btn btn-outline-primary" href="{% url 'dashboard' %}">{% trans 'Cancel' %}</a>
                    <button class="btn btn-primary" type="submit" name="submit">{% trans 'Save' %}</button>
                </div>
            </div>

            <div class="form-block-wrapper">
                <div class="form-block">
                    <div class="row">
                        <div class="col col-md-10 mx-auto">
                            <div class="row">
                                <div class="col">
                                    {% include "app/includes/forms/field.html" with field=form.old_password %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    {% include "app/includes/forms/field.html"  with field=form.new_password1 %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    {% include "app/includes/forms/field.html"  with field=form.new_password2 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
{% endblock %}
